Repository kivy/plyer, pull requests merged in 2018-12, with the labels that each got.

#471 thegrymek: Android speech recognition
  examples/speech/buildozer.spec
  examples/speech/main.py
  plyer/__init__.py
  plyer/facades/__init__.py
  plyer/facades/speech.py
  plyer/platforms/android/speech.py
  plyer/platforms/linux/notification.py
  plyer/platforms/linux/wifi.py
Labels: platform-android

#488 Add support for interfaces in Linux WiFi
  plyer/facades/wifi.py
  plyer/platforms/linux/wifi.py
Labels: platform-linux

#482 macOS tests - audio, battery, bluetooth, storagepath
  .gitignore
  plyer/tests/test_audio.py
  plyer/tests/test_battery.py
  plyer/tests/test_bluetooth.py
  plyer/tests/test_storagepath.py
Labels: platform-osx

#489 Add audio recording and playing for Windows
  README.rst
  plyer/platforms/win/audio.py
  plyer/tests/test_audio.py
Labels: platform-win, unittested

#491 Add Android Native filechooser and external SD card path to StoragePath
  README.rst
  examples/filechooser/main.py
  plyer/facades/filechooser.py
  plyer/facades/storagepath.py
  plyer/platforms/android/filechooser.py
  plyer/platforms/android/storagepath.py
  plyer/platforms/linux/filechooser.py
  plyer/platforms/macosx/filechooser.py
  plyer/platforms/win/filechooser.py
Labels: platform-android

#492 Fix android notifications missing channel on Oreo and later
  plyer/platforms/android/notification.py
Labels: platform-android

#493 Enhance Android notifications with toast and big icons
  examples/notification/main.py
  examples/notification/notificationdemo.kv
  plyer/facades/notification.py
  plyer/platforms/android/notification.py
Labels: documentation, examples, platform-android

#495 Implement WiFi for Linux with nmcli
  plyer/platforms/linux/wifi.py
Labels: platform-linux
