Repository kivy/plyer, pull requests merged in 2018-11, with the labels that each got.

#473 Add enable & disable WiFi for Linux and MacOS
  plyer/facades/wifi.py
  plyer/platforms/linux/wifi.py
  plyer/platforms/macosx/wifi.py
Labels: platform-linux, platform-osx

#474 Removed unnecessary grep dependency
  plyer/platforms/macosx/bluetooth.py
Labels: platform-osx

#483 New extended CPU details implementation
  README.rst
  plyer/__init__.py
  plyer/facades/__init__.py
  plyer/facades/cpu.py
  plyer/platforms/linux/cpu.py
  plyer/platforms/macosx/cpu.py
  plyer/platforms/win/cpu.py
  plyer/tests/common.py
  plyer/tests/test_cpu.py
Labels: needs-unittest, platform-linux, platform-osx, platform-win
