Repository kivy/plyer, pull requests merged in 2018-10, with the labels that each got.

#428 Audio recording for macOS
  .gitignore
  plyer/platforms/macosx/audio.py
Labels: awaiting-reply

#457 OSX Screenshot (Rebased PR #324)
  README.rst
  examples/screenshot/main.py
  plyer/__init__.py
  plyer/facades/__init__.py
  plyer/facades/screenshot.py
  plyer/platforms/macosx/screenshot.py
Labels: platform-osx

#458 Add screenshot test for OSX
  plyer/tests/test_screenshot.py
Labels: platform-osx

#459 Add Windows Screenshot with ctypes+pywin32
  README.rst
  plyer/platforms/win/screenshot.py
Labels: platform-win
